:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --accent-color: #2196f3;
  --main-background-color: #ffffff;
  --main-text-color: #212121;
  --secondary-text-color: #757575;
}
.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

body {
  font-family: var(--main-font);
  background-color: var(--main-background-color);
  color: var(--main-text-color);
}
/* ============= COMPONENTS ============= */
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
/* ============= HEADER ============= */
.head {
  background-color: var(--main-background-color);
}
.head-nav-logo-link {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
}
.logo-left {
  color: var(--accent-color);
}
.head-menu-link,
.head-contact-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}
.head-menu-link:hover,
.head-menu-link:focus,
.head-contact-link:hover,
.head-contact-link:focus {
  color: var(--accent-color);
}
/* ============= HERO ============= */
.hero {
  background-color: #2f303a;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.modal-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: var(--accent-color);
  cursor: pointer;
}
.modal-btn:hover,
.modal-btn:focus {
  background: #188ce8;
}
/* ============= WHY US ============= */
.whyus-title {
  color: var(--main-background-color);
}
.whyus-menu-item-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.whyus-menu-item-description {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
/* ============= WHAT WE DO ============= */

/* =============ABOUT US ============= */
.aboutus {
  background-color: #f5f4fa;
}
.aboutus-menu-item {
  background-color: #ffffff;
}
.aboutus-menu-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}
.aboutus-menu-description {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
/* =============FOOTER ============= */
.footer {
  background-color: #2f303a;
}
.footer-logo-link {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.adress-menu-link-adress {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.adress-menu-link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.adress-menu-link-adress:hover,
.adress-menu-link-adress:focus,
.adress-menu-link:hover,
.adress-menu-link:focus {
  color: var(--accent-color);
}
/* ============= HERO PORTFOLIO============= */
.hero-portfolio-title {
  color: var(--main-background-color);
}
.modal-btn-portfolio {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  background-color: #f5f4fa;
  cursor: pointer;
}
.modal-btn-portfolio:hover,
.modal-btn-portfolio:focus {
  background: var(--accent-color);
  color: #ffffff;
}
/* ============= WORK EXAMPLES============= */
.example-title-portfolio {
  color: var(--main-background-color);
}
.example-menu-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.example-menu-description {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
